# Python environments
.env
.venv/
venv/

# Python env + metadata
*.egg-info/
.eggs/
*.log

# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Env files
*.env
*.env.*

# LangGraph + LangChain caches
.langgraph/
.langgraph_api/
.langchain/
langchain_logs/

# Output files
*.pdf
*.json
*.txt
*.csv

# Notebooks
.ipynb_checkpoints/

# IDEs / Editors
.vscode/
.idea/
*.swp

# OS junk
.DS_Store
Thumbs.db

# LangGraph dev artifacts
.langgraph_api/
.langgraph/
.langchain/
langchain_logs/
